html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}


/*.header {
  background-color: #;
}
*/

.logo {
  position: relative;
  /*-webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);*/
}

.footer {
  background-color: #003e21;
  color: #fff;
  padding: 30px 0;
}

.footer p {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  display: inline;
}

.social-icon {
  width: 50px;
  height: 50px;
  margin: 0 5px;
}



 /*---------------------------- Media Queries -------------------------------------*/





